.AppContainer {
    position: absolute;
    display: flex;
    top: 25%;
    left: 35%;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.Links{
    display: flex;
    gap: 40px;
    margin-top: 200px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
.Link{
    position: relative;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1343a9;
}
.Link:hover {
    position: relative;
    z-index: 0;
    /* width: 400px;
    height: 300px; */
    overflow: hidden;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;


    &::before {
        content: '';
        position: absolute;
        z-index: -2;
        left: -100%;
        top: -60%;
        width: 300%;
        height: 300%;
        background-color: #b8cdfb;
        background-repeat: no-repeat;
        background-size: 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(#b8cdfb, #b8cdfb), linear-gradient(#93a7d6, #93a7d6);
        animation: rotate 8s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 4px;
        top: 4px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        background: #1343a9;

    }
}